<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rk.device.launcher">
    <!-- android:sharedUserId="android.uid.system" -->


    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设置时间 -->
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <!-- 从setting那里拷贝过来的 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.certinstaller.INSTALL_AS_USER" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOVE_PACKAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.BACKUP" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.MANAGE_USB" />
    <uses-permission android:name="android.permission.SET_POINTER_SPEED" />
    <uses-permission android:name="android.permission.SET_KEYBOARD_LAYOUT" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.COPY_PROTECTED_DATA" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS" />
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES" />
    <uses-permission android:name="android.permission.OEM_UNLOCK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SHUTDOWN" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" />
     <uses-permission android:name="android.permission.DEVICE_POWER" />-->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".base.LauncherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <!-- 设置页面 -->
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 时间设置 -->
        <activity
            android:name=".ui.setting.SetTimeActivity"
            android:screenOrientation="portrait" />
        <!-- 网络设置 -->
        <activity
            android:name=".ui.setting.SetNetWorkActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 门禁设置 -->
        <activity
            android:name=".ui.setting.SetDoorGuardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SelectItemListActivity"
            android:screenOrientation="portrait" />
        <!-- 系统设置 -->
        <activity
            android:name=".ui.setting.SetSysActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 关于设备页面 -->
        <activity
            android:name=".ui.setting.SystemInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 恢复出厂设置 -->
        <activity
            android:name=".ui.setting.RecoveryActivity"
            android:screenOrientation="portrait" />
        <!-- 基础设置 -->
        <activity
            android:name=".ui.setting.SetBasicInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 蓝牙 -->
        <activity
            android:name=".ui.setting.BlueToothActivity"
            android:screenOrientation="portrait" />

        <!-- 双目校验 -->
        <activity
            android:name=".ui.setting.EyesCorrectActivity"
            android:screenOrientation="portrait" />

        <!-- 休眠的界面 -->
        <activity
            android:name=".ui.setting.SleepActivity"
            android:screenOrientation="portrait" />

        <!-- 拨号界面 -->
        <activity
            android:name=".ui.call.CallActivity"
            android:screenOrientation="portrait" />

        <!--添加指纹-->
        <activity android:name=".ui.fingeradd.FingeraddActivity" />
        <!--新增NFC-->
        <activity android:name=".ui.nfcadd.NfcaddActivity" />
        <!-- 密码开门界面 -->
        <activity
            android:name=".ui.numpassword.NumpasswordActivity"
            android:screenOrientation="portrait" />

        <!-- 留言开门界面 -->
        <activity
            android:name=".ui.bbs.BbsActivity"
            android:screenOrientation="portrait" />

        <!-- 用户管理界面 -->
        <activity
            android:name=".ui.personmanage.PersonManageActivity"
            android:screenOrientation="portrait" />


        <!-- 增加用户界面 -->
        <activity
            android:name=".ui.person_add.Person_addActivity"
            android:screenOrientation="portrait" />

        <!-- 增加人脸界面 -->
        <activity
            android:name=".ui.personface.PersonFaceActivity"
            android:screenOrientation="portrait" />


        <!--激活码激活页面-->
        <activity
            android:name=".ui.key.KeyActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--输入管理员密码页面-->
        <activity
            android:name=".ui.settingmangerpwd.SettingMangerPwdActivity"
            android:screenOrientation="portrait" />


        <!--二维码扫描界面-->
        <activity
            android:name=".ui.qrcode.QrcodeActivity"
            android:screenOrientation="portrait" />

        <!--zxing-->
        <activity
            android:name=".zxing.decode.CaptureActivity"
            android:screenOrientation="portrait" />

        <!--数据管理-->
        <activity
            android:name=".ui.managedata.ManagedataActivity"
            android:screenOrientation="portrait" />

        <!--所有需要检测的硬件列表-->
        <activity
            android:name=".ui.detection.HardwareAct"
            android:screenOrientation="portrait" />


        <!--硬件LED检测-->
        <activity
            android:name=".ui.detection.LedDetection"
            android:screenOrientation="portrait" />

        <!--硬件NFC检测-->
        <activity
            android:name=".ui.detection.NfcDetection"
            android:screenOrientation="portrait" />

        <!--硬件摄像头检测-->
        <activity
            android:name=".ui.detection.CaremaDetection"
            android:screenOrientation="portrait" />


        <!--硬件指纹头检测-->
        <activity
            android:name=".ui.detection.FinderDetection"
            android:screenOrientation="portrait" />


        <!--数据管理中搜索数据-->
        <activity
            android:name=".ui.managedata.SearchdataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.dialogactivity.DialogActivity"
            android:theme="@style/Theme.ActivityDialogStyle" />

        <activity android:name=".ui.setting.TimeZoneListActivity" />

        <!-- 个推 -->
        <!--  <service
              android:name=".service.RKLauncherPushService"
              android:exported="true"
              android:label="PushService"
              android:process=":pushservice" />
          <service android:name=".service.RKLauncherPushIntentService" />-->


        <service
            android:name=".service.DownLoadIntentService"
            android:exported="false" />

        <service
            android:name=".service.SocketService"
            android:exported="false" />


        <service
            android:name=".service.VerifyService"
            android:enabled="true"
            android:exported="false" />


        <service
            android:name="rk.device.server.service.AppHttpServerService"
            android:exported="false" />

        <!-- <receiver android:name=".service.UpdateBroadcastReceiver">
             <intent-filter>
                 <action android:name="android.intent.action.PACKAGE_REPLACED" />

                 <data android:scheme="package" />
             </intent-filter>
         </receiver>-->

        <!--<receiver android:name=".service.UsbBroadCastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>-->
    </application>

</manifest>